/*to fix that the navbar does not cover other content when fixed-top */
body::before {
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
    color: #516171;
    display: block;
    content: '';
    height: 60px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700 !important;
    color: #092032;
}

a {
    color: #092032;
}

img {
    width: 100%;
}

/*NAVBAR*/
.top-bar {
    background-color: #ff4d29;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s;
}

.top-bar .container .row {
    margin: 0;
}

.text-light {
    color: #fff !important;
}

.top-bar p {
    margin-bottom: 0;
    display: inline-block;
}

.navbar {
    padding-top: 60px; /* Ensure content doesn't overlap with the fixed nav */
    padding: 20px;
}

/*to give the map and width and height*/
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*this media query will execute as long as the min-width is over 768px*/
@media(min-width: 768px) { 
    .news-input {
        width: 50%;
    }
}
